pre {
   /* background: linear-gradient(166deg, rgba(80, 31, 122, 1) 0%, rgba(40, 32, 179, 1) 80%);*/
  background-color: #2d2b57;
}

h1, h2, h3, h4, h5, h6 {
  color: #2d2b57 !important;
}

@layer components {
  table {
    @apply min-w-full text-gray-600 bg-gray-200 border-b border-gray-500 rounded p-5 shadow overflow-hidden table-fixed;
  }

  th {
    @apply font-extrabold px-6 py-3 bg-gray-500 text-left text-xs leading-4 text-gray-100 uppercase tracking-wider;
    background-color: #2d2b57;
  }

  tbody {
    @apply bg-white bg-gray-200;
  }

  td {
    @apply px-6 py-4 break-words align-top;
    word-wrap:break-word
  }
}